
@font-face {
  font-family: 'GlacialIndifference';
  src: url('GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'),  url('GlacialIndifference-Bold.otf')  format('opentype'),
	     url('GlacialIndifference-Bold.woff') format('woff'), url('GlacialIndifference-Bold.ttf')  format('truetype'), url('GlacialIndifference-Bold.svg#GlacialIndifference-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
