
@font-face {
  font-family: 'GlacialIndifference';
  src: url('GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),  url('GlacialIndifference-Regular.otf')  format('opentype'),
	     url('GlacialIndifference-Regular.woff') format('woff'), url('GlacialIndifference-Regular.ttf')  format('truetype'), url('GlacialIndifference-Regular.svg#GlacialIndifference-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
